@import "_nav.scss";
@import "_footer.scss";
@import "_utilities.scss";

//table
table {
  border-collapse: collapse;
  width: 85%;
  margin: 35px auto;
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #e9ecef8f;
  }
  .btn-del {
    background-color: #dc353db5;
    border: 1px solid #dfe1e5;
    color: #f8f9fa;
    text-align: center;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  .btn-del:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
      0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  }
}
label {
  display: block;
}
.submit-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 45px auto 0;
  max-width: 600px;
  h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  form {
    padding: 0 40px 10px 40px;
  }
  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #969595;
    padding: 5px;
    margin: 10px;
  }
  p {
    padding-left: 15px;
  }
  button {
    font-size: 0.8rem;
    margin-top: 10px;
    border-radius: 20px;
    font-style: italic;
    background: $btnColor;
    border: white;
    outline-style: none;
    padding: 10px 30px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
    transition: all 0.2s;
  }
  button:hover {
    letter-spacing: 5px;
  }
}
.required {
  color: red;
}
.container {
  margin: 40px auto;
}
.total {
  display: flex;
  justify-content: center;
  background-color: #e9ecef !important;
  width: 30%;
  margin: auto;
  border-radius: 40px;
  padding: 13px;
  min-width: 200px;
  &-price {
    margin-left: 20px;
    font-weight: 600;
  }
  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}
.divImage {
  img {
    width: 70px;
    margin-right: 10px;
  }
  p {
    display: inline;
  }
}
.quantity {
  width: 50px;
}
h1 {
  text-align: center;
  font-size: 28px;
}
.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  &-img {
    width: 146px;
    height: 165px;
    img {
      width: 100%;
    }
  }
  button {
    @extend %btn;
    margin: auto;
    a {
      color: white;
      text-decoration: none;
    }
  }
  button:hover {
    letter-spacing: 5px;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
}
